<div class="jumbotron">
	<h1 class="mobius-title text-shadow-info">Mobius Engine</h1>
	<p class="text-shadow-info">Welcome to the Mobius Engine.  Mobius Engine is a general purpose combat simulator that using JSON to describe the participating actors.  The engine is intended to be used with Stellar Conflagration and most of the organizational terms reflect the nature of the game.  Mobius Engine and Stellar Conflagration are both works in progress so not all features work or are balanced.</p>
	<p class="text-shadow-info">To access different features of Mobius Engine please use the navigation bar at the top of the page.</p>
	<p class="text-shadow-info">Please enjoy and report any problems to the GitHub project page <a class="text-warning" href="https://github.com/rokhos82/mobius/issues" target="_blank">here</a>.</p>
</div>