<div class="jumbotron">
	<h3 class="mobius-title text-shadow-info">Unit Manager</h3>
	<p>Welcome to the unit management feature of Mobius Engine.</p>
	<p>Here you can create new unit templates, import other unit templates, and export existing unit templates.</p>
</div>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading" ng-click="$ctrl.toggleState('controls')" tooltip-placement="top" uib-tooltip="Click to show/hide.">
				<h4 class="text-info mobius-title">Unit Controls</h4>
			</div>
			<div class="panel-body" ng-show="$ctrl.states.controls">
				<uib-tabset active="1" justified="true">
					<uib-tab index="0" heading="Create">
						<div class="well well-sm text-danger mobius-top-lg">This feature coming soon(tm)!</div>
					</uib-tab>
					<uib-tab index="1" heading="Import">
						<div class="well well-sm text-info mobius-top-lg">Use the text field below to import a unit JSON string.</div>
						<textarea class="form-control mobius-import" ng-model="$ctrl.import"></textarea>
						<button class="form-control btn btn-primary mobius-top-lg" ng-click="$ctrl.onImport()">Import Unit</button>
					</uib-tab>
					<uib-tab index="2" heading="Export">
						<div class="well well-sm text-info mobius-top-lg">The text field below contains the JSON string for all units currently in the system.</div>
						<textarea class="form-control mobius-import" ng-readonly="true"></textarea>
					</uib-tab>
				</uib-tabset>
			</div>
			<div class="panel-footer"></div>
		</div>
	</div>
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="text-info mobius-title">Unit Templates</h4>
			</div>
			<div class="panel-body">
				There will be filter and search options here with a table of available unit templates beneath.
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
	<div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" ng-repeat="key in $ctrl.units">
		<div class="panel ng-class:{'panel-primary':hover,'panel-default':!hover};" ng-init="unit = $ctrl.getUnit(key)" ng-mouseenter="hover = true" ng-mouseleave="hover = false">
			<div class="panel-heading mobius-unit-header">
				{{unit.general.name}}
			</div>
			<div class="panel-body mobius-unit-content" ng-init="firepower = $ctrl.firepower(unit)">
				<p class="mobius-unit-stat">Type: {{unit.general.type}}</p>
				<p class="mobius-unit-stat">Size: {{unit.general.size}}</p>
				<p class="mobius-unit-stat">Hull: {{unit.hull.max}}</p>
				<p class="mobius-unit-stat">Shield: {{unit.shield.max}}</p>
				<p class="mobius-unit-stat">Direct Firepower: {{firepower.direct}}</p>
				<p class="mobius-unit-stat">Packet Firepower: {{firepower.packet}}</p>
				<p class="mobius-unit-stat">Cost: {{unit.general.cost}}</p>
			</div>
			<div class="panel-footer mobius-unit-footer">
				{{unit.uuid}}
			</div>
		</div>
	</div>
</div>