<page-title title="Unit Manager" message="Welcome to the unit management feature of Mobius Engine. Here you can create new unit templates, import other unit templates, and export existing unit templates."></page-title>
<page-alerts alerts="$ctrl.alerts"></page-alerts>
<div class="row">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="text-info mobius-title">Controls &amp; Filters</h4>
			</div>
			<div class="panel-body">
				<div class="btn-group btn-group-justified">
					<label class="btn btn-default disabled">Create</label>
					<label class="btn btn-default" ng-click="$ctrl.openImportModal()">Import</label>
					<label class="btn btn-default" ng-click="$ctrl.openExportModal()">Export</label>
					<label class="btn btn-danger" ng-click="$ctrl.onDeleteAll()">Delete All</label>
				</div>
				<hr />
			</div>
			<div class="panel-footer">
			</div>
		</div>
	</div>
	<unit-card unit="unit" delete="$ctrl.deleteUnit(unit.uuid);" ng-repeat="unit in $ctrl.listUnits()"></unit-card>
</div>