<page-title title="{{$ctrl.title}}" message="{{$ctrl.welcome}}"></page-title>
<page-alerts alerts="{{$ctrl.alerts}}"></page-alerts>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="mobius-title text-info">Research Facilities</h4>
      </div>
      <div class="panel-body">
        <form class="form-horizontal" ng-init="facility">
          <fieldset>
            <legend>New Research Facility</legend>
            <div class="form-group">
              <label for="name" class="control-label col-lg-3">Name</label>
              <div class="col-lg-9">
                <input id="name" name="name" type="text" class="form-control" ng-required="true" required ng-model="facility.name" />
              </div>
            </div>
          </fieldset>
        </form>
      </div>
      <table class="tabel table-stripe table-hover">
      </table>
      <div class="panel-footer">
      </div>
    </div>
  </div>
</div>
