<div class="modal-header">
	<h3 class="modal-title mobius-title text-info">{{$ctrl.options.title}}</h3>
</div>
<div class="modal-body">
	<uib-accordion close-others="true">
		<!-- General Unit Information -->
		<div uib-accordion-group class="panel-primary" heading="General" is-open="true">
			<div class="form-horizontal">
				<div class="form-group">
					<label for="unitWizName" class="col-lg-2 control-label">Name</label>
					<div class="col-lg-10">
						<input type="text" id="unitWizName" ng-model="$ctrl.unit.general.name" class="form-control" placeholder="USS Enterprise" />
					</div>
				</div>
				<div class="form-group">
					<label for="unitWizID" class="col-lg-2 control-label">Designation</label>
					<div class="col-lg-10">
						<input type="text" id="unitWizName" ng-model="$ctrl.unit.general.id" class="form-control" placeholder="CVN-65" />
					</div>
				</div>
				<div class="form-group">
					<label for="unitWizType" class="col-lg-2 control-label">Type</label>
					<div class="col-lg-10">
						<select ng-model="$ctrl.unit.general.type" ng-options="type for type in $ctrl.options.types" id="unitWizType" class="form-control"></select>
					</div>
				</div>
				<div class="form-group">
					<label for="unitWizSize" class="col-lg-2 control-label">Size</label>
					<div class="col-lg-10">
						<input type="number" id="unitWizSize" ng-model="$ctrl.unit.general.size" class="form-control" placeholder="6" uib-popover="Max unit size is {{$ctrl.constraints.general.size.max}}." popover-trigger="'focus'" popover-class="text-warning" />
					</div>
				</div>
				<div class="form-group">
					<label for="unitWizDescription" class="col-lg-2 control-label">Description</label>
					<div class="col-lg-10">
						<textarea id="unitWizDescription" class="form-control"></textarea>
					</div>
				</div>
			</div>
		</div>
		<!-- Unit Defense Information -->
		<div uib-accordion-group class="panel-primary" heading="Defenses">
			<div class="form-group">
				<label for="unitWizArmor" class="col-lg-2 control-label">Armor</label>
				<div class="col-lg-10">
					<input type="number" id="unitWizArmor" ng-model="$ctrl.unit.defenses.armor" class="form-control" placeholder="{{$ctrl.constraints.defenses.armor.placeholder}}" uib-popover="Max unit armor is {{$ctrl.constraints.defenses.armor.max}}." popover-tigger="'focus'" popover-class="text-warning" ng-change="$ctrl.updateArmor()" />
				</div>
			</div>
			<div class="form-group">
			</div>
		</div>
		<div uib-accordion-group class="panel-primary" heading="Weapons">
		</div>
		<div uib-accordion-group class="panel-primary" heading="Other Equipment">
		</div>
	</uib-accordion>
</div>
<div class="modal-footer">
	<button class="btn btn-success">Create Unit</button>
</div>
