<div class="modal-header">
  <h3 class="modal-title mobius-title text-info">Facilities and Personnel</h3>
</div>
<div class="modal-body">
  <p>Facilities and location resources listed/assigned here</p>
  <hr />
  <p>Personnel and soft resources assigned here</p>
  <p class="text-danger">Use a category type break down for more flexibility</p>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="$ctrl.confirm()">Save</button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
