<page-title title="Science Manager" message="{{$ctrl.welcome}}"></page-title>
<page-alerts alerts="$ctrl.alerts"></page-alerts>
<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <div class="well well-sm">
          <form class="form-horizontal" ng-init="newProject={}">
            <fieldset>
              <legend class="text-info">New Research Project</legend>
              <mobius-text label="Project Name" value="newProject.name"></mobius-text>
              <mobius-select mobius-options="$ctrl.stages" mobius-selector="stage.name disable when stage.fin for stage" mobius-label="Project Stage" mobius-selected="newProject.stage"></mobius-select>
              <mobius-number label="Project Bonus" placeholder="10" value="newProject.bonus"></mobius-number>
              <div class="form-group">
                <div class="col-lg-12">
                  <button class="btn btn-success btn-block" type="button" ng-click="$ctrl.addProject(newProject);">Create Project</button>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
        <div class="well well-sm">
          <div class="form-horizontal">
            <div class="form-group">
              <label for="globalBonus" class="control-label col-lg-2">Global Research Bonus</label>
              <span class="col-lg-10">
                <input type="number" class="form-control" ng-model="$ctrl.bonus.global" ng-blur="$ctrl.saveChanges()" />
              </span>
            </div>
          </div>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group" uib-dropdown>
            <button href class="btn btn-default" uib-dropdown-toggle>Apply to Checked <span class="caret"></span></button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
              <li role="menuitme"><a href>Update</a></li>
              <li role="menuitem"><a href>Reroll</a></li>
              <li role="menuitem"><a href ng-click="$ctrl.removeSelectedProjects()">Remove</a></li>
            </ul>
          </div>
          <div class="btn-group">
            <button class="btn btn-success" type="button" ng-click="$ctrl.updateProjects($ctrl.projects)">Update Projects</button>
            <button class="btn btn-danger" type="button" ng-click="$ctrl.clearProjects()">Clear Projects</button>
          </div>
        </div>
      </div>
      <table class="table table-stripe table-hover">
        <thead>
          <tr><th>Project</th><th>Stage</th><th>Turn Funding</th><th>Total Funding</th><th>Project Bonus</th><th>Total Bonus</th><th>Roll</th></tr>
        </thead>
        <tbody>
          <tr ng-repeat="project in $ctrl.projects track by $index" ng-click="$ctrl.updateProjects([project])"><td><input type="checkbox" id="{{'project'+$index}}" ng-model="$ctrl.ui.selectedProjects[$index]"> {{project.name}}</td><td>{{project.stage.name}}</td><td>{{project.funding}}</td><td>{{project.totalFunding}}</td><td>{{project.bonus}}</td><td>{{project.bonus + $ctrl.bonus.global}}</td><td>{{project.roll}}</td></tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        Log of events will go here.
      </div>
    </div>
  </div>
</div>
