<div class="modal-header">
  <h4 class="modal-title mobius-title text-info">New Research Project</h4>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <fieldset>
      <mobius-text label="Name" value="$ctrl.project.name" checkbox="Tech has levels" checkbox-model="$ctrl.project.hasLevels"></mobius-text>
      <mobius-select mobius-options="$ctrl.stages" mobius-selector="stage.name disable when stage.finis for stage" mobius-label="Stage" mobius-selected="$ctrl.project.stage"></mobius-select>
      <mobius-number label="Research Bonus" value="$ctrl.project.bonus"></mobius-number>
      <mobius-number label="Chane of Failure" value="$ctrl.project.failChance"></mobius-number>
    </fieldset>
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="$ctrl.confirm()">Save Project</button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
