<div class="modal-header">
  <h3 class="modal-title mobius-title text-info">Project Funding</h3>
</div>
<div class="modal-body">
  <div class="form-horizontal">
    <mobius-number label="Funding" placeholder="" value="fundingLevel" mobius-id="fundingLevel"></mobius-number>
    <div class="form-group">
      <div class="col-lg-12">
        <button class="btn btn-warning btn-block" type="button" ng-click="$ctrl.applyFunding(fundingLevel);">Apply Funding</button>
      </div>
    </div>
  </div>
  <table class="table table-hover table-stripe">
    <tr class="mobius-table-row" ng-repeat="project in $ctrl.options.projects track by project.uuid"><td>{{project.name}}</td><td><input type="number" ng-model="project.funding" class="form-control" /></tr>
  </table>
</div>
<div class="modal-footer">
  <button class="btn btn-success" type="button" ng-click="$ctrl.confirm()">Fund Project</button>
  <button class="btn btn-default" type="button" ng-click="$ctrl.cancel()">Cancel</button>
</div>
